In [12]:
import pandas as pd
import math
import numpy as np
from scipy import stats

In [13]:
combNar = pd.read_csv('tempo_combinar.csv', header=None)
bitComb = pd.read_csv('tempo_bitcomb.csv', header=None)

In [22]:
combNar.describe()

                0
count  100.000000
mean     9.540900
std      3.956263
min     -2.150000
25%      7.682500
50%      9.250000
75%     12.407500
max     18.400000

In [23]:
bitComb.describe()

                0
count  100.000000
mean     8.743500
std      3.600244
min     -0.070000
25%      6.100000
50%      8.640000
75%     11.382500
max     17.200000

In [14]:
meanCombNar = combNar.mean()
stdCombNar = combNar.std()
countCombNar = combNar.count()
meanBitComb = bitComb.mean()
stdBitComb = bitComb.std()
countBitComb = bitComb.count()

In [15]:
err = (meanCombNar - meanBitComb) / math.sqrt(((pow(stdCombNar,2)/countCombNar) + (pow(stdBitComb,2)/countBitComb)))
print(err)

0    1.490695
dtype: float64

/tmp/ipykernel_346/300035769.py:1: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  err = (meanCombNar - meanBitComb) / math.sqrt(((pow(stdCombNar,2)/countCombNar) + (pow(stdBitComb,2)/countBitComb)))

In [16]:
cdf = 1 - stats.norm.cdf(err)
print(cdf)

[0.06802085]

In [21]:
perc = (((meanCombNar / meanBitComb) - 1 ) * 100)
print(perc)

0    9.119918
dtype: float64

Para o teste de hipotese foi considerado como h0 a premissa de que CombNar é maior ou igual a BitComb. 
Realizando o teste foi observado que em cada 100 casos aproximadamente 6,8 fugiram da hipotese nula. 
Como foi definido uma confiabilidade de 95%, esse valor ultrapassa esse limite. Portanto, deve-se considerar
que a hipotese nula seja verdadeira. Fazendo uma comparação relativa entre as médias, foi observado que CombNar 
tem um tempo de 9.11% maior do que BitComb, então existe a possibilidade de serem iguais